body {
    background-color: rgb(255, 255, 255);
  }




.MyDiv1{
    border-style: solid;
    border-color: crimson;
    border-width: 2px;
    font-family: 'Times New Roman', Times, serif; 
    color: black;
    font-size: larger;
    border-radius: 5px;

}

.MyDiv2 {
    font-style: italic;
    font-weight: bold;
}


.MyDiv3 {
    background-color: black;
    color: white;
    font-family: monospace;
    box-shadow: 6px 6px gainsboro;


}